* {
    margin: 0;
    padding: 0;
}

body{
    background-color: #343B3F;
    color: white;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

header{
    background-color: #252525;
    height: 15vh;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
}


main{
    height: 75vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.foto{
    width: 30vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.foto img{
    border-radius: 100%;
}

.foto h2{
    margin-top: 20px;
    font-weight: bold;
}

.sobre{
    width: 50vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.sobre a{
    color: white;
    font-weight: bold;
}

.sobre ul{
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
    list-style: none;
    width: 60vh;
}

.sobre ul li a:hover{
    box-shadow: 0px 0px 5px rgb(255, 255, 255);
}


footer{
    background-color: #252525;
    height: 10vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
}

/* Mobile */
@media(max-width: 768px){   

    body{
        height: 200vh;
    }

    header{
        height: 10%;
    }
    
    main{
        height: 80%;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
    }

    .foto{
        height: 40%;
        justify-content: center;
        align-items: center;
    }

    .foto h2{
        text-align: center;
    }

    .sobre{
        height: 40%;
    }

    .sobre p{
        text-align: center;
    }

    .sobre ul{
        width: 30%;
        margin-top: 15px;
        flex-wrap: wrap;
    }

    .sobre ul li{
        margin-top: 15px;
    }


    footer{
        margin-top: 15px;
        height: 10%;
    }


    

}